ion-card {
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  ion-item {
    margin-bottom: 16px;
  }

  ion-text[color="danger"] {
    font-size: 12px;
    margin-left: 16px;
  }

  ion-button {
    margin-top: 16px;
  }
